<?xml version="1.0" encoding="UTF-8"?>
<!-- <!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" > -->


<suite name="Smoke Suite" preserve-order="true">


    <test name="test" >
    <classes>

        <!--<methods>
            <include name="Tee_application_Stop" />
            <include name="Tee_application_hard_Stop" />

                <exclude name="testMakeOrder" />

        </methods> -->
        <class name="RCC.TestCases.Tee_Application_Container_Operations"/>
        <class name="RCC.TestCases.TssApplication_Container_Operations"/>
        <class name="RCC.TestCases.WebLogicAdminServer"/>
        <class name="RCC.TestCases.SolrCluster"/>
        <class name="RCC.TestCases.ZookeeperCluster"/>
        <class name="RCC.TestCases.Zookeeper"/>
        <class name="RCC.TestCases.TomcatCluster"/>
        <class name="RCC.TestCases.Tomcat"/>
        <class name="RCC.TestCases.WebLogicManagedServer"/>
        <class name="RCC.TestCases.TEEApplication"/>



    </classes>

</test>
</suite>
